*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: antiquewhite;
}
.navbar h1{
    width: 80%;
    text-align: center;
    padding:0.2rem 0.3rem;
    border-radius:30%;
    background-color: aqua;
}
.navbar .links{
    display: flex;
    justify-content: space-around;
}
.links a{
    text-decoration: none;
    color:tomato;
    padding:0.2rem;
}

.aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    /* background-color: aquamarine; */
    
}
.aboutme h2{
    letter-spacing: 0.1rem;
}
.aboutme img{
    width: 11rem;
    /* display: block; */
    border-radius: 50%;

}
.aboutme #description{
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;

}
.section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.8rem;
    /* background-color: aquamarine; */

}
.section{
    border-top: 2px solid black;
    margin-bottom: 2rem;
}
.section h2{
    letter-spacing: 0.1rem;

}
.section p{
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
}